@media all and (min-width: 0px) and (max-width: 768px)
{
    body
    {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #activite {
        margin-left: 2.5%;
    }

    .hebergement
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    nav {
        display: flex;
        width: 100%;
    }

    nav a {
        padding-bottom: 30px;
        width: 50%;
        text-align: center;
        border-bottom: solid 2px #F2F2F2;
    }

    nav a:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
        color: #0065FC;
    }

    #hebergement {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    header > div > img {
        margin-top: 30px;
        width: 35%;
        margin-left: 38%;
    }

    #recherche {
        padding: 20px;
        margin-left: 3%;
    }

    #recherche > div:first-child > p {
        font-size: 16px;
    }

    #filtre {
        flex-direction: column;
    }

    #filtre > div {
        display: flex;
        margin-left: 0%;
        flex-wrap: wrap;
        width: 100%;
        justify-content: normal;
    }

    .card-s {
        margin: 5px;
    }

    #filtre > span {
        padding-top: 10px;
        padding-bottom: 5px;
        font-weight: 900;
    }

    .card-h {
        height: 178px;
        width: 100%;
    }

    .card-p {
        width: 100%;
    }

    .card-container:first-child {
        background-color: white;
        order: 1;
    }

    .card-container {
        border-radius: 0px;
    }

    .star2 {
        display: flex;
        align-items: center;
    }

    .activite {
        flex-direction: column;
    }

    #activite {
        padding-left: 20px;
        padding-right: 20px;
    }

    .activite > div {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .activite > div > div:last-child {
        width: 100%;
        height: 400px;
    }

    .activite > div > div:first-child {
        width: 100%;
        height: 200px;
        margin: 0;
        margin-bottom:14px;
    }

    .activite > div > div {
        width: 100%;
        height: 200px;
    }

    .activite > div > div > div {
        width: 100%;
    }

    .activite > div > div:last-child > div {
        margin: 0;
    }

    .port {
        top: 162px;
    }

    .activite > div > div:last-child > div:last-child {
        margin:0;
        width: 100%;
        height: 50%;
        margin-top: 12px;
    }

    .iles {
        top: 162px;
    }

    .fort {
        top: 155px;
    }

    .activite {
        flex-direction: column;
    }

    .activite > div:last-child {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 15px;
    }

    .activite > div:last-child > div:last-child {
        width: 100%;
        height: 400px;
    }

    .activite > div:last-child > div:first-child {
        width: 100%;
        height: 200px;
        margin: 0;
    }

    .activite > div:last-child > div {
        width: 100%;
        height: 200px;
    }

    .activite > div:last-child > div > div {
        width: 100%;
    }

    .activite > div:last-child > div:last-child > div {
        margin: 0;
    }

    .activite > div:last-child > div:last-child > div:last-child {
        margin:0;
        width: 100%;
        height: 50%;
        margin-top: 12px;
    }

    .activite > div:last-child > div:last-child > div:first-child {
        height: 50%;
        margin: 0;
        margin-top: 10px;
    }

    .dame {
        top: 162px;
    }

    .calanque {
        top: 162px;
    }

    .longchamp {
        top: 162px;
    }

    footer {
        flex-direction: column;
        margin-left: 0px;
        padding: 2% 6% 6% 6%;
    }

    input {
        width: 100%;
    }

    form {
        width: 100%
    }

    form button span {
        visibility: hidden;
        margin-top: -23px;
    }

    form button > i {
        visibility: visible;
        margin-top: -17px;
    }

    form button {
        padding-left: 0;
        padding-right: 0px;
        border-radius: 12px;
    }

    .card-container.first {
        display: flex;
        width: 84%;
        margin-right: 20px;
        flex-direction: column;
    }
}