@media all and (min-width: 769px) and (max-width: 992px){
    #recherche > div {
        justify-content: center;
    }

    #recherche > div:first-child {
        justify-content: center;
        text-align: center;
    }

    #hebergement {
        justify-content: center;
        background-color: #F2F2F2;
        margin-right: -30px;
    }

    #activite {
        margin-left: 2.5%;
    }

    footer {
        padding: 2% 12% 2% 11%;
    }
}