.card-h {
    display: flex;
    flex-direction: column;
    height: 144px;
    width: 180px;
    background-color: white;
    border-radius: 15px;
    padding: 2px;
    box-shadow: 1px 3px 4px #0000001f;
    text-decoration: none;
    color: black;
    opacity: 80;
}

.card-h > div:first-child {
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
}

.marcus {
    background-image: url('../images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.fred {
    background-image: url('../images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.reisetopia {
    background-image: url('../images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.annie {
    background-image: url('../images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.nicate {
    background-image: url('../images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.febrian {
    background-image: url('../images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.card-p {
    display: flex;
    height: 104px;
    width: 270px;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    padding: 2px;
    box-shadow: 1px 3px 4px #0000001f;
    text-decoration: none;
    color: black;
    opacity: 80;
}

#activite {
    margin-left: 0;
}

.card-p > img {
    height: 100%;
    width: 40%;
    border-radius: 15px 0 0 15px;
    margin-right:10px;
}

.populaire {
    display: flex;
    justify-content: space-between;
}

.populaire > i {
    margin-top: 4%;
    font-size: 23px;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.card-container > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.plus {
    padding-top: 20px;
}

.card-container.first {
     display: flex;
     flex-wrap: wrap;
     margin-right: 20px;
 }

nav {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

header {
    display: flex;
    justify-content: space-between;
}

header > div > img {
    margin-top: 30px;
    height: 40%;
    margin-left: 20px;
}

#hebergement {
    display: flex;
    justify-content: space-between;
}

.hebergement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card-container {
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

.one {
    grid-column: 1/3;
    grid-row: 1;
}

.two {
    grid-column: 2/3;
    grid-row: 1;
}

.three {
    grid-column: 3/3;
    grid-row: 1;
}

.four {
    grid-column: 1/3;
    grid-row: 2;
}

.five {
    grid-column: 2/3;
    grid-row: 2;
}

.six {
    grid-column: 3/3;
    grid-row: 2;
}

#recherche {
    display: flex;
    flex-direction: column;
}

#recherche > div {
    display: flex;
}

#filtre {
    margin-top: 25px;
}

#filtre > div {
    display: flex;
    width: 71%;
    justify-content: space-between;
    margin-left: 3%;
}

.card-s {
    border-top: solid 2px #F2F2F2;
    border-radius: 28px;
    border-bottom: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    height: 36px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 86%;
    background-color: #F2F2F2;
    padding: 2% 17% 2% 3%;
    margin-top: 60px;
    margin-left: -27px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-weight: bold;
    font-size: large;
    margin-bottom: 12px;
}

footer span {
    padding-top: 7px;
}

.card-s > i {
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 41px;
    margin-left: -1%;
    margin-top: -2px;
    z-index: 20;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
}

form {
    display: flex;
    height: 37px;
}

form i {
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 11px;
    width: 36px;
    border-radius: 12px 0 0 12px;
}

form button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 12px 12px 0;
    font-weight: bold;
    font-size: revert;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 11px;
}

#recherche > div:last-child > i {
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 22px;
    height: 19px;
    text-align: center;
    color: #0065FC;
    margin-top: -3px;
    padding-top: 5px;
    margin-right: 12px;
    font-size: 12px;
}

#recherche > div:last-child > p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

#filtre > span {
    padding-top: 10px;
    font-weight: 900;
}

#recherche > div:first-child {
    display: flex;
    flex-direction: column;
}

#recherche > div:last-child {
    padding-top: 35px;
    padding-bottom: 30px;
}

#recherche h1 {
    margin: 0;
}

#recherche > div:first-child > p {
    margin-block-start: 2px;
    margin-block-end: 16px;
}

.card-s > span {
    margin-right: 15px;
    font-weight: 900;
    padding-left: 5px;
}

.activite {
    display: flex;
}

.activite > div {
    display: flex;
    width: 50%;
    height: 350px;
    flex-wrap: wrap;
}

.activite > div:last-child {
    display: flex;
    width: 50%;
    height: 350px;
    flex-wrap: wrap;
}

.activite > div > div:last-child {
    display: flex;
    width: 50%;
    height: 350px;
    flex-wrap: wrap;
}

.activite > div > div:first-child {
    width: 45%;
    height: 100%;
    background-image: url('../images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    margin-left: 0;
    border-radius: 20px;
    box-shadow: 1px 3px 4px #0000001f;
    background-position: center;
}

.activite > div > div:last-child > div {
    width: 100%;
    height: 48%;
    background-image: url('../images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    border-radius: 20px;
    box-shadow: 1px 3px 4px #0000001f;
    background-position: center;
}

.activite > div > div:last-child > div:last-child{
    width: 91%;
    height: 45%;
    background-image: url('../images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    background-position: center;
}

.activite > div:last-child > div:first-child {
    width: 45%;
    height: 100%;
    background-image: url('../images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    background-position: center;
}

.activite > div:last-child > div:last-child > div:first-child {
    width: 100%;
    height: 40%;
    background-image: url('../images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    margin-right: 0;
    background-position: center;
}

.activite > div:last-child > div:last-child > div:last-child{
    width: 100%;
    height: 53%;
    background-image: url('../images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-size: cover;
    margin: 12px;
    margin-right: 0;
    background-position: center;
}

.bandeau {
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 0 0 18px 18px;
    font-weight: 900;
}

.port {
    top:312px;
}
.fort {
    top:130px;
}
.iles {
    top:119px;
}

.calanque {
    top:312px;
}
.dame {
    top:102px;
}
.longchamp {
    top:147px;
}

.card-p > div > p:first-child {
    font-weight: 900;
    font-size: smaller;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-p > div > p:nth-child(2n) {
    font-size: 12px;
    padding-top: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-p > div > div {
    font-size: 10px;
    color: #D9D9D9;
}

.star1 {
    padding-top: 45px;
}

.star2 {
    padding-top: 30px;
}

.star3 {
    padding-top: 45px;
}

.blue-star {
    color: #0065FC;
}

.card-h > p {
    font-weight: 900;
    padding-left: 10px;
    font-size: smaller;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-h > p:nth-child(3n){
    font-weight: 100;
    font-size: 12px;
    padding-top: 5px;
}

.card-h > div:last-child {
    padding-left: 10px;
    font-size: 10px;
    padding-top: 5px;
    color: #D9D9D9;
}

input {
    border: solid 1px #F2F2F2;
    font-weight: bold;
    color: black;
    padding-left: 15px;
    font-size: revert;
}

::placeholder {
    color:black;
}

nav a:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

a.card-h:hover {
    box-shadow: 3px 5px 6px #0000001f;
    transform: scale(1.05);
    transition-duration: 150ms;
}

a.card-p:hover {
    box-shadow: 3px 5px 6px #0000001f;
    transform: scale(1.1);
    transition-duration: 150ms;
}

.card-s:hover {
     box-shadow: 3px 5px 6px #0000001f;
     transform: scale(1.1);
     transition-duration: 150ms;
 }

.activite > div:last-child > div:last-child > div:first-child:hover,
.activite > div:last-child > div:last-child > div:last-child:hover,
.activite > div:last-child > div:first-child:hover,
.activite > div > div:last-child > div:hover,
.activite > div > div:first-child:hover{
    box-shadow: 3px 5px 6px #0000001f;
    transform: scale(1.1);
    transition-duration: 150ms;
}


.card-container > p {
    padding-top: 16px;
    margin-block-end: 0px;
    font-weight: bold;
}

.card-container > h1 {
    font-size: larger;
    padding-bottom: 6px;
}

.card-container > div > h1 {
    font-size: larger;
    padding-bottom: 6px;
}

#recherche > div > h1 {
    font-size: larger;
    padding-bottom: 6px;
}

#recherche > div > p {
    font-size: larger;
    padding-bottom: 6px;
}

.card-p > div {
    padding-top: 8px;
}

b {
    font-weight: bold;
}

#activite > h1 {
    font-size: larger;
}

footer > div > a {
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
}

form button > span {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 9px;
    visibility: visible;
}

form button > i {
    background-color: transparent;
    text-align: center;
    width: 36px;
    border-radius: 0;
    visibility: hidden;
}